<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>serv1</servlet-name>
        <servlet-class>servlet.BookTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serv1</servlet-name>
        <url-pattern>/BookTicket</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>SaveTicketFilter</filter-name>
        <filter-class>filter.SaveTicketFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SaveTicketFilter</filter-name>
        <url-pattern>/BookTicket</url-pattern>
        <url-pattern>/UpdateTicket</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>serv2</servlet-name>
        <servlet-class>servlet.DisplayTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serv2</servlet-name>
        <url-pattern>/DisplayTicket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>serv3</servlet-name>
        <servlet-class>servlet.UpdateTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serv3</servlet-name>
        <url-pattern>/UpdateTicket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>serv4</servlet-name>
        <servlet-class>servlet.CancelTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serv4</servlet-name>
        <url-pattern>/CancelTicket</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>TicketIdFilter</filter-name>
        <filter-class>filter.TicketIdFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TicketIdFilter</filter-name>
        <url-pattern>/CancelTicket</url-pattern>
        <url-pattern>/DisplayTicket</url-pattern>
        <url-pattern>/UpdateTicket</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>ticketSystem.html</welcome-file>
    </welcome-file-list>
</web-app>